$brand-color: blue;
$red-color: red;
body {
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #abbaab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blue {
  color: $brand-color;
}

.red {
  color: $red-color;
}

.square {
  height: 100px;
  width: 80px;
  background-image: url('../images/grass.jpg');

  &--human {
    background-image: url('../images/egg.jpg');
  }
  &--computer {
    background-image: url('../images/chick.jpg');
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  text-align: center;
  // line-height: 75px;
  // font-size: 30px;
  // background-color: DodgerBlue;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.idusethisclass {
  color: blue;
}
.idontusethisclass {
  color: red;
}
